// font Space Mono
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    border:none;
}
$bg-color:hsl(185, 41%, 84%);
$gray-color: hsl(180, 12%, 23%);
$dark-cian: hsl(183, 95%, 24%);
$selected-color:#26c2ad;


body{
    background: $bg-color;
}
header{
    text-align:center;
    margin-top: 5%;
    margin-bottom: 2%;
    color:$gray-color;
    font-size:0.7rem;
}

main{
    width:50%;
    max-width:800px;
    border-radius: 1em;
    padding: 1.7em;
    background-color: white;
    margin:0 auto;
    display:grid;
    grid-template-areas: 'section screen';
    .sections-title{
        color:$gray-color;
        font-size:0.7em;
        
    }.inputs{
        width:100%;
        height:1.7rem;
        border-radius: 0.3em;
        text-align: right;
        font-size: 1.3em;
        color:$dark-cian;
        padding:0.5em;
        &:focus{
            border:1px solid $bg-color;
            box-shadow: none;
        }
    }

}section{
 grid-area: section;
 width:90%; .icon{
        position: absolute;
        padding:5px;
        min-width: 10px;
        
       }
    #bill-input{
        width: 100%;
        padding:10px;
        text-align: center;  
           
        } 

 .select-tip-container{
    margin:1em 0;
    
    display:grid;
    grid-template-columns: repeat(3,1.5fr);
    gap:5px;
    .btn-tip-percent{
        width: 90px;
        font-size: 1em;
        background-color: $dark-cian;
        color:white;
        padding: 0.5em 1.0em;
        border-radius: 0.3em;
        &:hover{
            color:$dark-cian;
            background-color: $bg-color;
            transition: 0.4s;
        }
        &.selecte{
            background-color: $selected-color ;
             color:$dark-cian;
         }&.input-tip{
        padding: 0.5em 1.0em;
        font-size: 1em;
        background:white;
        width:90px;
        color:$dark-cian;
        text-align: right;
    }
    }   
       
    
 }
 .peoples{
    .cant-be-zero-p{
        display: inline;
        color:blue;
    }
    .cant-be-zero{
        
        border: 2px solid #b37f72;
        box-shadow: 1px 1px 1px #b37f72;
        
    }
   .cant-be-zero-label::after{
    content: 'Cant be zero';
    position:absolute;
    right:75px;
    color:#b37f72;
  
    
   }
 }
}.screen-results{
 grid-area: screen;
 background-color: $dark-cian;
 padding:1em;
 color:white;
 border-radius: 1em;

 .tip-amount-total-result{
    display:flex;
    align-items: center;
    justify-content: space-between;
.results{
  
   font-size:0.8em;
   white-space: nowrap;
   p{
    color:$gray-color;
    font-size: 0.7em;
   }
}
    .show-result{
        display: flex;
        
        
        .icon{
            position: absolute;
          
            margin-top: 15px;
            
        }
        input{

            color:#2dc5b0 ;
            width:100px;
            padding:0 10px;
            text-align: right;
            background-color: transparent;
            font-size: 2em;
        }
    }
 }
}
.btn-reset-container{

  .btn-reset{
    padding:1em 7em;
    border-radius: 1em;
    display: block;
    margin:4em auto 0 auto;
    color:$dark-cian;
    background-color:$bg-color;
    &:hover{
         
    background-color:$selected-color;  
    }
 
}  
}

footer{
    .attribution { 
        font-size: 11px;
         text-align: center;
        a { color: hsl(228, 45%, 44%); }
        }
    
}

@media (max-width:420px){
    main{
        grid-template-areas: "section""screen";
        width:100%;
    }
    .screen-results{
        margin-top: 1em;
    }
}
@media (min-width:420px){
    main{
        grid-template-areas: "section""screen";
        width:80%;
    }
    .screen-results{
        margin-top: 1em;
    }
}
@media (min-width:770px){
    main{
        grid-template-areas: 'section screen';
        width:80%;
    }
    .screen-results{
        margin-top: 1em;
    }
}